{% extends "layout.html" %}

{% block map_style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    {% block analyze_style %} {% endblock %}
{% endblock %}


{% block map_content %}
    <input id="pac-input" class="controls" type="text" placeholder="Search Address">
    <div id="map"></div>

{% endblock  %}

{% block map_scripts %}
    <script>
        function initMap() {
            var myLatlng = new google.maps.LatLng(38.903400, -77.042090);
            var mapOptions = {
                zoom: 10,
                center: myLatlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

{#***************************************** Search and Search MARKERS **********************************************#}

            // Create the search box and link it to the UI element.
            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());
            });



            var markers = [];
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }

              // Clear out the old markers.
              markers.forEach(function(marker) {
                marker.setMap(null);
              });
              markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                if (!place.geometry) {
                  console.log("Returned place contains no geometry");
                  return;
                }
                var icon = {
                  url: place.icon,
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                  map: map,
                  icon: icon,
                  title: place.name,
                  position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                  // Only geocodes have viewport.
                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });

{#***************************************** /Search and Search MARKERS **********************************************#}


{#***************************************** LOADED MARKERS **********************************************#}


            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
            });


            {#Markers #}
            {#var data =#}
            {#{{ data|safe }}#}
            {##}
            {#for (i in data) {#}
            {#    var coords = {lat: data[i]["latitude"], lng: data[i]["longitude"]};#}
            {#    var marker = new google.maps.Marker({#}
            {#        position: coords,#}
            {#        title: data[i]["name"],#}
            {##}
            {#    });#}
            {#    marker.setMap(map);#}
            {# }#}

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'static/images/marker_clusterer/m'});
        }

        {# Clustering business data on map #}
        var data = {{ data|safe }}
        var locations = [];
        for(i in data){
            var coords = {lat: data[i]["latitude"], lng: data[i]["longitude"]};
            locations.push(coords);
        }
{#************************************************* /MARKERS **********************************************#}

        function loadTen() {
            {# For processing coordinate data for 10 minutes distance #}
            var iscdata = {{ isc10|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#00ff41',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#b1ff00',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

        function loadTwo() {
            {# For processing coordinate data for 2 minutes distance#}
            var iscdata = {{ isc2|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

        function loadOne() {
            {# For processing coordinate data for one minute distance isochrone #}
            var iscdata = {{ isc1|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#0039ff',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#0085ff',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

    </script>

    <script src="static/js/markerclusterer.js">
    </script>
    {% block analyze_script %}

    {% endblock %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVSZ_DJdhMlkjGFXx7PcBYPQi2dP_ZgLM&libraries=places&callback=initMap"
    async defer></script>

{% endblock %}