{% extends "layout.html" %}

{% block map_style %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;

      }
    </style>
{% endblock %}

{% block map_content %}
    <div id="map"></div>
    <div id="demo">
        <button type="button" onclick="loadTen()">Show 10 minute Isochrone</button>
        <button type="button" onclick="loadTwo()">Show 2 minute Isochrone</button>
        <button type="button" onclick="loadOne()">Show 1 minute Isochrone</button>
    </div>

{% endblock  %}

{% block map_scripts %}
    <script>
        function initMap() {
            var myLatlng = new google.maps.LatLng(38.903400, -77.042090);
            var mapOptions = {
                zoom: 15,
                center: myLatlng
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            var markers = locations.map(function (location, i) {
                return new google.maps.Marker({
                    position: location,
                    label: labels[i % labels.length]
                });
            });


            {#Markers #}
            {#var data =#}
            {#{{ data|safe }}#}
            {##}
            {#for (i in data) {#}
            {#    var coords = {lat: data[i]["latitude"], lng: data[i]["longitude"]};#}
            {#    var marker = new google.maps.Marker({#}
            {#        position: coords,#}
            {#        title: data[i]["name"],#}
            {##}
            {#    });#}
            {#    marker.setMap(map);#}
            {# }#}

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'static/images/marker_clusterer/m'});
        }

        {# Clustering business data on map #}
        var data = {{ data|safe }}
        var locations = [];
        for(i in data){
            var coords = {lat: data[i]["latitude"], lng: data[i]["longitude"]};
            locations.push(coords);
        }

        function loadTen() {
            {# For processing coordinate data for 10 minutes distance #}
            var iscdata = {{ isc10|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#00ff41',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#b1ff00',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

        function loadTwo() {
            {# For processing coordinate data for 2 minutes distance#}
            var iscdata = {{ isc2|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

        function loadOne() {
            {# For processing coordinate data for one minute distance isochrone #}
            var iscdata = {{ isc1|tojson }}
            var coords_list = [];
            for(i in iscdata[0]){
                coords = {lat: iscdata[0][i][1] , lng: iscdata[0][i][0]};
                coords_list.push(coords);
                console.log(coords);
            }
            var polygon_var = new google.maps.Polygon({
              paths: coords_list,
              strokeColor: '#0039ff',
              strokeOpacity: 0.8,
              strokeWeight: 3,
              fillColor: '#0085ff',
              fillOpacity: 0.35
            });
            polygon_var.setMap(map);
        }

    </script>

    <script src="static/js/markerclusterer.js">
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVSZ_DJdhMlkjGFXx7PcBYPQi2dP_ZgLM&callback=initMap"
    async defer></script>
{% endblock %}