<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src = "/static/handle.js"></script>
</head>
<body>

<div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        var ACCESS_TOKEN = {{ ACCESS_TOKEN|tojson }};
        mapboxgl.accessToken = ACCESS_TOKEN;

        {#Instantiates Map#}
        var map = new mapboxgl.Map({
          container: 'map', // HTML container id
          style: 'mapbox://styles/mapbox/streets-v9', // style URL
          center: [-77.042090, 38.903400], // starting position as [lng, lat]
          zoom: 13
        });

        var popup = new mapboxgl.Popup()
        .setHTML('<h3>Test</h3><p>A good marker</p>');


        {#ADDS A MARKER TO MAP#}
        var marker = new mapboxgl.Marker()
        .setLngLat([-77.042090, 38.903400])
        .setPopup(popup)
        .addTo(map);

        {# ADDS A POLYGON TO MAP #}
        map.on('load', function () {

            map.addLayer({
                'id': 'maine',
                'type': 'fill',
                'source': {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'geometry': {
                            'type': 'Polygon',
                            'coordinates': {{ isc|tojson }}
                        }
                    }
                },
                'layout': {},
                'paint': {
                    'fill-color': '#088',
                    'fill-opacity': 0.8
                }
            });
        });

        {#var data = {{ data|safe }};#}
        {##}
        {#for (i in data) {#}
             {##Yelp Data#}
        {#    var popup = new mapboxgl.Popup()#}
        {#    .setHTML('<h3>'+data[i]["name"]+'</h3><p>A good marker</p>');#}
        {##}
        {#    var marker = new mapboxgl.Marker()#}
        {#    .setLngLat([data[i]["longitude"],data[i]["latitude"]])#}
        {##}
        {#    .addTo(map)#}
        {##}
        {# }#}

        // Add a new source from our GeoJSON data and set the
        map.addSource("businesses", {
            type: "geojson",
            data: "/serviceLayer/data/dataset.geojson",
            cluster: true,
            clusterMaxZoom: 14, // Max zoom to cluster points on
            clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
        });

        map.addLayer({
            id: "clusters",
            type: "circle",
            source: "businesses",
            filter: ["has", "point_count"],
            paint: {
                "circle-color": [
                    "step",
                    ["get", "point_count"],
                    "#51bbd6",
                    100,
                    "#f1f075",
                    750,
                    "#f28cb1"
                ],
                "circle-radius": [
                    "step",
                    ["get", "point_count"],
                    20,
                    100,
                    30,
                    750,
                    40
                ]
            }
        });

        map.addLayer({
            id: "cluster-count",
            type: "symbol",
            source: "businesses",
            filter: ["has", "point_count"],
            layout: {
                "text-field": "{point_count_abbreviated}",
                "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                "text-size": 12
            }
        });

        map.addLayer({
            id: "unclustered-point",
            type: "circle",
            source: "businesses",
            filter: ["!", ["has", "point_count"]],
            paint: {
                "circle-color": "#11b4da",
                "circle-radius": 4,
                "circle-stroke-width": 1,
                "circle-stroke-color": "#fff"
            }
        });

        // inspect a cluster on click
        map.on('click', 'clusters', function (e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ['clusters'] });
            var clusterId = features[0].properties.cluster_id;
            map.getSource('businesses').getClusterExpansionZoom(clusterId, function (err, zoom) {
                if (err)
                    return;

                map.easeTo({
                    center: features[0].geometry.coordinates,
                    zoom: zoom
                });
            });
        });

        map.on('mouseenter', 'clusters', function () {
            map.getCanvas().style.cursor = 'pointer';
        });
        map.on('mouseleave', 'clusters', function () {
            map.getCanvas().style.cursor = '';
        });



    </script>
</body>
</html>